<div class="row">
  <div class="col-md-3">license</div>
  <div class="col-md-3">
    <select ({model})="type">
      <option value="ייבוא">ייבוא</option>
      <option value="ייצוא">ייצוא</option>
      <option value="גידול">גידול</option>
      <option value="נוסף">נוסף</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3">plant</div>
  <div class="col-md-3">{{item.plant}}</div>
</div>
<div class="row">
  <div class="col-md-3">form</div>
  <div class="col-md-3">{{item.form}}</div>
</div>
<div class="row">
  <div class="col-md-3">purpose</div>
  <div class="col-md-3">{{item.purpose}}</div>
</div>
<div class="row">
  <div class="col-md-3">country</div>
  <div class="col-md-3">{{item.country}}</div>
</div>
<div class="row">
  <div class="col-md-6">
 
    <button pButton type="button" (click)="send()" label="Click"></button>
  </div>
 
</div>
